# ignore files which are generated
node_modules/
dist/
dist_old/

# ignore IDE stuff
.idea/
*.iml
.vs/
.vscode/
.gitconfig
.gitmodules
.idea
.claude/
.zshrc
.bashrc
.bash_profile
.zprofile
.vscode
.profile
.ripgreprc
.mcp.json
#