.farm-container {
	display: block;
	padding: 6% 10% 0% 10%;
}

.farm-title {
	margin-bottom: 48px;
}

.farm-title span {
	font-size: 2.6rem;
	font-weight: bold;
}

.lp-pair-icon {
	width: 56px;
	height: 56px;
}

.farm-body {
	padding-top: 20px;
}

.farm-body h1 {
	font-size: 1.8rem;
}

.farm-body h2 {
	font-size: 1.6rem;
	font-weight: bold;
}

.farm-body h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 8px;
}

.lp-input {
	margin-top: 12px;
	background-color: var(--primary-alt);
	border-radius: 8px;
	border: none;
	padding: 4px;
	padding-left: 12px;
}

.ls-input:focus {
	outline: none;
}

.farm-body .apr {
	margin-bottom: 16px;
}

.farm-body .pair-header {
	margin-bottom: 24px;
}

.wd-buttons {
	margin-top: 16px;
	margin-bottom: 16px;
}

.farm-body .gradient-card {
	padding-top: 24px;
	padding-bottom: 24px;
	width: 32%;
	box-shadow: 0 0 16px #d454a9b6;
	border: none;
}

@media (max-width: 900px) {
	.farm-container {
		padding: 30% 10% 0 10%;
	}

	.farm-container .farm-header a {
		float: none !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.farm-title {
		margin-bottom: 20px;
	}

	.farm-title span {
		font-size: 2.4rem;
	}

	.lp-pair-icon {
		width: 40px;
		height: 40px;
	}

	.farm-body .gradient-card {
		width: 100%;
	}

	.farm-body h1 {
		font-size: 1.4rem;
	}
	
	.farm-body h2 {
		font-size: 1.2rem;
		font-weight: bold;
	}
	
	.farm-body h3 {
		font-size: 1rem;
		font-weight: bold;
		margin-top: 8px;
	}
	
	.farm-body button {
		font-size: 0.88rem !important;
	}
}