.content-wrapper {
	overflow-x: hidden;
	padding: 0px;
}

.container {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

.home-container {
	padding-top: 6%;
	width: 100%;
	align-items: flex-end;
}

.home-container h1 {
	margin-bottom: 15px;
}

.home-container .hero-buttons {
	margin: 60px 0;
}

.home-container .hero-buttons>* {
	margin: 10px;
}

.home-container .large-button-image {
	background: rgba(0, 0, 0, 0.5);
}

.home-container .large-button-image>img {
	height: 60px;
	width: 120px;
}

.home-container .large-button-image strong {
	color: var(--white);
}

.home-container .title-white {
	color: rgba(255, 255, 255, 1) !important;
}

.intro {
	padding: 0px 10%;
}

.hero-buttons {
	justify-content: start;
}

.btn-features {
	font-size: medium;
}

.token-stats {
	margin-top: 6%;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.token-stats h1 {
	font-size: 56px;
	color: var(--white);
	text-align: center;
	/* padding-top: 20px; */
	margin-bottom: 50px;
}

.raptor-app {
	padding: 2% 0 2% 0;
	width: 100%;
	background-color: #181A24;
}

.raptor-app h1 {
	color: var(--white);
}

.raptor-app a {
	margin-right: 16px;
}

.social-icons {
	padding: 4% 0 0 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 990px) {
	.intro {
		padding: 30% 10% 0 10%;
	}

	.token-stats {
		display: none;
	}

	.second-paragraph {
		margin-top: 20px;
	}

	.hero-buttons {
		justify-content: center;
	}

	.home-container .hero-buttons {
		margin: 40px 0;
	}

	.btn-about {
		margin-left: 10px !important;
	}

	.btn-lg {
		font-size: medium;
	}

	.home-container .large-button-image>img {
		height: 40px;
		width: 80px;
	}

	.raptor-app {
		padding: 8% 0 8% 0;
	}

	.raptor-app img {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 16px;
	}
}