.home-container {
	display: flex;
	align-items: flex-end;
}

.home-container h1 {
	margin-bottom: 15px;
}

.home-container .hero-buttons {
	margin: 60px 0;
}

.home-container .hero-buttons>* {
	margin: 10px;
}

.home-container .large-button-image {
	background: rgba(0, 0, 0, 0.5);
}

.home-container .large-button-image>img {
	height: 60px;
	width: 120px;
}

.home-container .large-button-image strong {
	color: var(--white);
}

.home-container .title-white {
	color: rgba(255, 255, 255, 1) !important;
}

.hero-buttons {
	justify-content: start;
}

.btn-features {
	font-size: medium;
}

@media (max-width: 990px) {
	.hero-buttons {
		justify-content: space-between;
	}

	.home-container .hero-buttons {
		margin: 40px 0;
	}

	.btn-about {
		margin-left: 10px !important;
	}

	.btn-lg {
		font-size: medium;
	}

	.home-container .large-button-image>img {
		height: 40px;
		width: 80px;
	}
}