.liquidity-container {
	display: block;
	padding-top: 5%
}

.liquidity-header {
	padding: 0 4%;
}

.liquidity-title {
	margin-bottom: 32px;
}

.liquidity-title span {
	font-size: 2.6rem;
	font-weight: bold;
}

.liquidity-body {
  padding: 20px 4% 0 4%;
}

.liquidity-swap-card h1 {
	color: var(--primary);
	font-size: 1.4rem;
	font-weight: bold;
}

.liquidity-swap-card h2 {
	color: var(--complementary-alt);
	font-size: 1rem;
}

.liquidity-swap-card h3 {
  margin: 16px 0;
}

.liquidity-swap-card hr {
  margin: 24px 0;
}

.liquidity-swap-card.gradient-card.dark {
	border: none;
}

.btn-settings {
  background: none;
  border: none;
}

.btn-settings img {
  width: 32px;
  height: 32px;
}

.liquidity-input {
	padding: 16px;
	background-color: var(--space);
	border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(1, 1, 1, 0.25);
}

.liquidity-input input {
	color: var(--gold-alt);
	background: none;
	border: none;
}

.liquidity-input input:focus,
.liquidity-input textarea:focus {
	outline: none;
}

.btn-currency-select {
	color: var(--primary);
	background: none;
	border: none;
	font-weight: bold;
}

.liquidity-swap-footer button {
  width: 100%;
}