.lottery-container {
	display: block;
	margin-top: 5%;
}

.lottery-container .lottery-header img {
	margin-bottom: 50px;
	height: 90px;
}

.lottery-container .lottery-header a {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 160px;
}

.lottery-container .lottery-footer {
	padding: 50px;
}

.lottery-container .lottery-body>div {
	padding: 20px;
}

.lottery-container .lottery-body .gradient-card {
	padding: 20px;
}

.lottery-container .lottery-body h1 {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.lottery-container .lottery-body h2 {
	font-size: 1.2rem;
	margin-bottom: 8px;
}

.lottery-info {
	margin-bottom: 20px;
}

.btn-lottery {
	width: 40%;
}

.overlay {
	position:fixed;
	top:0;
	left:0;
	background:rgba(255, 255, 255, 0.3);
	z-index:5;
	width:100%;
	height:100%;
}

.overlay .spinner-border {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -4em;
	margin-left: -4em; 
	z-index: 9999999;
}

@media (max-width: 600px) {
	.lottery-container .lottery-header img {
		margin-bottom: 20px;
	}

	.lottery-container .lottery-header a {
		float: none !important;
		margin-bottom: 20px;
	}

	.btn-lottery {
		width: 100%;
	}
}
