.lottery-container {
	display: block;
	padding: 5% 4% 0 4%;
}

.lottery-title {
	margin-bottom: 32px;
}

.lottery-title span {
	font-size: 2.6rem;
	font-weight: bold;
}

.lottery-container .lottery-header img {
	margin-bottom: 50px;
	height: 90px;
	width: 242px;
}

.lottery-container .lottery-footer {
	padding: 50px;
}

.lottery-container .lottery-body>div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.lottery-container .lottery-body .gradient-card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.lottery-container .lottery-body h1 {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.lottery-container .lottery-body h2 {
	font-size: 1.2rem;
	margin-bottom: 8px;
}

.lottery-info {
	margin-bottom: 20px;
}

.btn-lottery {
	width: 40%;
}

@media (max-width: 900px) {
	.lottery-container {
		padding: 30% 10% 0 10%;
	}
	.lottery-title {
		margin-bottom: 20px;
	}
	.lottery-header .btn-wallet {
		margin-top: 20px;
	}
	.lottery-title span {
		font-size: 2.4rem;
	}
	.lottery-container .lottery-header a {
		float: none !important;
		margin-bottom: 20px;
	}
	.btn-lottery {
		width: 100%;
	}
}