.lottery-container {
	display: block;
	margin-top: 5%;
}

.lottery-container .lottery-header img {
	margin-bottom: 50px;
	height: 90px;
}

.lottery-container .lottery-footer {
	padding: 50px;
}

.lottery-container .lottery-body > div {
	padding: 20px;
}

.lottery-container .lottery-body .gradient-card {
	padding: 40px;
}

.lottery-container .lottery-body h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.lottery-container .lottery-body p {
	font-size: small;
}
