.staking-container {
	display: block;
	margin-top: 5%;
}

.staking-container #staking-form label {
	margin-bottom: 20px;
}

.staking-container .staking-header img {
	margin-bottom: 50px;
	height: 90px;
}

.staking-container .staking-footer {
	padding: 50px;
}

.staking-container .staking-body h3 {
	font-weight: bold;
	margin-bottom: 20px;
}

.staking-info {
	margin-bottom: 20px;
}

.staking-container form label {
	margin-bottom: 20px;
}

.staking-container form {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.staking-container form .button-row {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.staking-container ul.nav-tabs {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px 10px 0 0;
}

.staking-container a.nav-link {
	color: var(--white);
}

.staking-container form .button-row>button {
	margin: 0 4px;
}

.staking-container form .staking-percentages {
	margin-bottom: 20px;
	margin-right: 60px;
}

.staking-container form .staking-slider-wrapper {
	line-height: 35px;
}

.staking-container form .staking-slider-wrapper input {
	height: 35px;
}

.staking-container form .staking-slider-wrapper label {
	width: 60px;
	text-align: right;
}

.staking-container .staking-body>div {
	padding: 20px;
}

.staking-container input::-webkit-outer-spin-button,
.staking-container input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.staking-container input[type=number] {
	-moz-appearance: textfield;
}