
.about-container {
	display: block;
	margin-top: 5%;
}


.card-logo {
	min-height: 350px;
}

.about-container .team {
	padding: 5%;
	color: #fff;
}

.about-container .team .team-name b {
	font-weight: normal;
	color: #31c461;
}

.about-container .team-picture {
	width: 100%;
}

.about-container .team-name {
	text-align: center;
	margin: 20px auto;
}
