
.about-container {
	display: block;
	margin-top: 5%;
}


.card-logo {
	min-height: 350px;
}

.about-container .founder {
	float: left;
	width: 180px;
	margin: 10px;
	margin-bottom: 0;
	margin-left: 0;
	border: 5px solid rgba(255,255,255,0.5);
}
