.progressCardCompleted, .progressCardNotCompleted {
	padding-left: 3mm;
	padding-right: 1cm;
	border-style: solid;
	border-radius: 10px;
	margin-bottom: 2px;
}

.progressCardCompleted {
	background-color: #21b451;
}

.progressCardNotCompleted {
	background-color: red;
}

.progressContainer {
	margin-top: 10px;
	background-color: #303030;
	border-style: solid;
	padding: 2mm;
	border-radius: 10px;
	width: fit-content;
	margin-left: 3mm;
}