.navbar-toggler {
	display: none;
	color: #fff;
	font-size: 2.5rem;
}

.navigation-wrapper {
	background-color: var(--space);
	height: 100vh;
	width: 100%;
	border-right: 1px solid #27303d;
	padding-top: 10%;
	position: relative;
	overflow: auto;
}

.navigation-wrapper #mainNav {
	height: calc(100% - 84px) !important;
	transition: all 0.25s;
}

.navigation-wrapper .logo-wrapper {
	display: block;
	position: relative;
}

.navigation-wrapper .logo-wrapper .img-logo {
	display: block;
	height: 48px;
	margin-left: 16px;
}

.navigation-wrapper nav {
	display: flex;
	flex-direction: column;
	padding: 15px 0;
	margin: 0px;
	overflow-y: auto;
	justify-content: space-between;
}

.navigation-wrapper ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.navigation-wrapper ul li {
	padding: 0px;
}

.navigation-wrapper ul li a {
	display: block;
	padding: 12px 16px 12px 64px;
	margin: 0px;
	color: #747D93;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 15px center;
	height: 48px;
	text-decoration: none;
}

.navigation-wrapper ul li a:hover {
	background-color: #141d2c;
	color: #31C461;
}

.navigation-wrapper ul li a.active {
	background-color: #141A24;
	color: #31C461;
}

.navigation-wrapper select {
	padding: 2px;
	border-radius: 4px;
}

.navigation-footer {
	padding: 0 16px;
}

.sudo-nav-link {
	border-radius: 8px;
}

.btn-social {
	font-size: 26px;
	color: white;
	margin: 4px;
}

.btn-social:hover {
	color: #747D93 !important;
}

.social-medias {
	margin-bottom: 0.5rem;
}

.lang-select {
	margin-top: 20px;
}

.collapsible-div {
	background-color: #171E29;
}

#mainNav.collapse.show {
	flex-direction: column;
	height: calc(100% - 84px);
	/* padding: 20px 30px 0px 30px; */
	display: flex !important;
}

#mainNav.collapsing {
	padding: 20px 30px 40px 30px;
}

@media (max-width: 668px) {
	.navigation-wrapper nav {
		/* padding: 0px 35px 0 35px; */
		margin: 0px;
	}

	.navigation-footer {
		margin-top: 50px;
	}
}

@media (max-width: 990px) {
	.navigation-wrapper #mainNav {
		display: none;
	}

	#mainNav.show {
		/* padding: 20px 30px; */
		height: calc(100% - 84px);
		overflow-y: scroll;
	}

	#mainNav.collapsing {
		padding: 20px 30px;
	}

	.navigation-wrapper nav {
		padding: 0 0;
		/* padding: 0px 35px 0 35px; */
		margin: 0px;
	}

	.navbar-toggler {
		display: inline-block;
	}

	.navigation-wrapper {
		display: block;
		position: fixed;
		align-items: center;
		width: 100%;
		min-height: auto;
		padding-top: 0px;
		z-index: 11;
		padding-bottom: 0px;
		border-right: inherit !important;
	}

	.navigation-wrapper .logo-wrapper .img-logo {
		display: inline-block;
		width: 150px;
		margin: 5px;
	}

	.navigation-wrapper .logo-wrapper {
		display: flex !important;
		width: 100%;
		padding-left: 0;
		justify-content: space-between;
		align-items: center;
		padding: 5px 15px;
		position: relative;
		z-index: 11;
	}

	.navigation-wrapper nav {
		position: fixed;
		background-color: var(--space);
		height: 0px !important;
		z-index: 11;
		width: 100%;
		max-height: inherit;
		overflow-y: inherit;
		overflow: hidden;
	}

	#mainNav.collapse.show {
		height: calc(100% - 68px) !important;
	}

	.navigation-wrapper {
		display: block;
		height: auto;
		align-items: center;
		justify-content: space-between;
	}

	.navigation-footer {
		display: block;
		position: relative;
		margin-top: 8%;
		text-align: center;
		padding-top: 10px;
	}

	.main-nav-overlay {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		z-index: 10;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.65);
	}

	.main-nav-overlay.show {
		opacity: 1;
		pointer-events: all;
	}

	.social-medias {
		margin-bottom: 10px;
	}

	.lang-select {
		margin-top: 16px;
	}
}