.statistics {
	justify-content: space-around;
	padding: 0px 10%;
}

.statistics h2 {
	color: var(--complementary-alt);
	font-size: medium;
	font-weight: bold;
	margin: 0px;
}

.statistics .stat-value {
	color: var(--primary-alt);
	font-size: large;
	font-weight: bold;
	margin-bottom: 5px;
}

.stat {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px 0px;
}