.content-wrapper {
	overflow-x: hidden;
	padding: 0px;
}

.container {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

.home-container {
	padding-top: 2%;
	width: 100%;
	align-items: flex-end;
}

.home-container h1 {
	margin-bottom: 15px;
}

.home-container .hero-buttons {
		margin: 0px;
		margin-bottom: 60px;
}

.home-container .btn-golden {
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23282b3a;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M872.28,243,637.91,8.58A29.35,29.35,0,0,0,617.19,0H207a88,88,0,0,0-87.89,87.89V912.11A88,88,0,0,0,207,1000H793a88,88,0,0,0,87.89-87.89V263.67A29.57,29.57,0,0,0,872.28,243ZM646.48,100,780.83,234.38H675.78a29.34,29.34,0,0,1-29.3-29.3ZM793,941.41H207a29.34,29.34,0,0,1-29.3-29.3V87.89A29.34,29.34,0,0,1,207,58.59H587.89V205.08A88,88,0,0,0,675.78,293H822.27V912.11A29.34,29.34,0,0,1,793,941.41Z'/%3E%3Cpath class='cls-1' d='M675.78,414.06H324.22a29.3,29.3,0,0,0,0,58.6H675.78a29.3,29.3,0,1,0,0-58.6Z'/%3E%3Cpath class='cls-1' d='M675.78,531.25H324.22a29.3,29.3,0,1,0,0,58.59H675.78a29.3,29.3,0,1,0,0-58.59Z'/%3E%3Cpath class='cls-1' d='M675.78,648.44H324.22a29.3,29.3,0,1,0,0,58.59H675.78a29.3,29.3,0,1,0,0-58.59Z'/%3E%3Cpath class='cls-1' d='M558.59,765.63H324.22a29.3,29.3,0,1,0,0,58.59H558.59a29.3,29.3,0,1,0,0-58.59Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 12% 50%;
	border-radius: 32px;
	padding-left: 7.2%;
}

.home-container .btn-golden:hover {
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M872.28,243,637.91,8.58A29.35,29.35,0,0,0,617.19,0H207a88,88,0,0,0-87.89,87.89V912.11A88,88,0,0,0,207,1000H793a88,88,0,0,0,87.89-87.89V263.67A29.57,29.57,0,0,0,872.28,243ZM646.48,100,780.83,234.38H675.78a29.34,29.34,0,0,1-29.3-29.3ZM793,941.41H207a29.34,29.34,0,0,1-29.3-29.3V87.89A29.34,29.34,0,0,1,207,58.59H587.89V205.08A88,88,0,0,0,675.78,293H822.27V912.11A29.34,29.34,0,0,1,793,941.41Z'/%3E%3Cpath class='cls-1' d='M675.78,414.06H324.22a29.3,29.3,0,0,0,0,58.6H675.78a29.3,29.3,0,1,0,0-58.6Z'/%3E%3Cpath class='cls-1' d='M675.78,531.25H324.22a29.3,29.3,0,1,0,0,58.59H675.78a29.3,29.3,0,1,0,0-58.59Z'/%3E%3Cpath class='cls-1' d='M675.78,648.44H324.22a29.3,29.3,0,1,0,0,58.59H675.78a29.3,29.3,0,1,0,0-58.59Z'/%3E%3Cpath class='cls-1' d='M558.59,765.63H324.22a29.3,29.3,0,1,0,0,58.59H558.59a29.3,29.3,0,1,0,0-58.59Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 12% 50%;
}

.home-container .title-white {
	color: rgba(255, 255, 255, 1) !important;
}

.intro {
	padding: 0px 4%;
}

.hero-buttons {
	justify-content: start;
}

.btn-features {
	font-size: medium;
}

.token-stats {
	margin-top: 0%;
	background-color: rgba(0, 0, 0, 0.32);
	width: 100%;
}

.token-stats h1 {
	font-size: 56px;
	color: var(--white);
	text-align: center;
	/* padding-top: 20px; */
	margin-bottom: 50px;
}

.raptor-app {
	padding: 2% 0 2% 0;
	width: 100%;
	background-color: #141A24;
}

.raptor-app h1 {
	color: var(--white);
}

.raptor-app a {
	margin-right: 16px;
}

.social-icons {
	padding: 4% 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 990px) {
	.intro {
		padding: 1.8cm 10% 0 10%;
	}

	.token-stats {
		display: none;
	}

	.second-paragraph {
		margin-top: 20px;
	}

	.hero-buttons {
		justify-content: center;
	}

	.home-container .hero-buttons {
		margin: 40px 0;
	}

	.btn-about {
		margin-left: 10px !important;
	}

	.btn-lg {
		font-size: medium;
	}

	.home-container .btn-golden {
		width: 100%;
	}

	.raptor-app {
		padding: 8% 0 8% 0;
	}

	.raptor-app img {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 16px;
	}
}