@import '~bootstrap';
@import './theme/bootstrap.css';
@import './theme/scroll.css';
@import './theme/custom.css';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700;900&display=swap');




