@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');*/


/*@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');*/


/*@import url('https://fonts.googleapis.com/css?family=Mulish&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700;900&display=swap');
@import url('keyframes.css');

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #282B3A;
}

body {
	font-family: 'Mulish', sans-serif !important;
	background-color: #282B3A;
	color: #747D93;
}

a {
	text-decoration: none !important;
	color: #fff;
}

h1 {
	font-size: 3.5rem;
	font-family: 'Mulish', sans-serif !important;
	font-weight: 900;
}

a:hover {
	text-decoration: none !important;
	color: #31C461;
}

.btn-outline-light {
	color: #e0e0e0 !important;
	border-color: #e0e0e0;
}

.btn-outline-success {
	color: #31C461 !important;
}

.btn-outline-success:hover {
	color: #e0e0e0 !important;
}

.btn-outline-light:hover {
	color: #282B3A !important;
}

p {
	color: #e0e0e0 !important;
}

.btn-complementary {
	background-color: #e0e0e0;
	border-color: #e0e0e0;
}

.btn {
	border-radius: 15px;
	color: #282B3A;
	font-weight: 600;
	padding: 0.575rem 0.75rem;
}

.btn-default:hover {
	color: #fff !important;
}

.btn-white {
	color: #fff;
}

.btn-text-success:hover {
	color: #fafafa;
}

.btn-success {
	background-color: #31C461;
}

.btn-text-success {
	color: #31C461;
}

.main-wrapper {
	background: url("../images/bg-main.jpg") no-repeat bottom right transparent;
	background-size: cover;
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 1;
}

.navbar-toggler {
	display: none;
	color: #fff;
	font-size: 2.5rem;
}

.navigation-wrapper {
	background-color: #282B3A;
	height: 100vh;
	width: 100%;
	border-right: 2px solid #34363D;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
}

.navigation-wrapper .logo-wrapper {
	display: block;
	padding-left: 30px;
}

.navigation-wrapper .logo-wrapper .img-logo {
	display: block;
	height: 60px;
	width: 180px;
}

.navigation-wrapper nav {
	padding: 30px 35px 0 35px;
	margin: 0px;
	max-height: 60vh;
	overflow-y: auto;
}

.navigation-wrapper ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.navigation-wrapper ul li {
	padding: 0px;
	margin: 0px;
	margin: 4px 0;
}

.navigation-wrapper ul li a {
	display: block;
	padding: 18px 14px 18px 60px;
	margin: 0px;
	color: #747D93;
	font-weight: bold;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: 15px center;
	height: 60px;
}

.navigation-wrapper ul li a:hover {
	background-color: #1F2227;
	color: #31C461;
}

.navigation-wrapper ul li a.active {
	background-color: #1F2227;
	color: #31C461;
}

.nav-item-home {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.685' height='29.459' viewBox='0 0 29.685 29.459'%3E%3Cg id='Group_61' data-name='Group 61' transform='translate(-65 -161.271)'%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(-391.004 21.132)'%3E%3Cpath id='Path_18' data-name='Path 18' d='M465.171,153.179h-5.3A3.872,3.872,0,0,1,456,149.306v-5.3a3.872,3.872,0,0,1,3.872-3.872h5.3a3.873,3.873,0,0,1,3.872,3.872v5.3a3.873,3.873,0,0,1-3.872,3.872' transform='translate(0)' fill='%23848596'/%3E%3Cpath id='Path_19' data-name='Path 19' d='M520.956,153.179h-5.295a3.873,3.873,0,0,1-3.873-3.872v-5.3a3.873,3.873,0,0,1,3.873-3.872h5.295a3.873,3.873,0,0,1,3.873,3.872v5.3a3.873,3.873,0,0,1-3.873,3.872' transform='translate(-39.14)' fill='%23848596'/%3E%3Cpath id='Path_20' data-name='Path 20' d='M465.171,208.206h-5.3A3.872,3.872,0,0,1,456,204.333v-5.3a3.872,3.872,0,0,1,3.872-3.872h5.3a3.873,3.873,0,0,1,3.872,3.872v5.3a3.873,3.873,0,0,1-3.872,3.872' transform='translate(0 -38.608)' fill='%23848596'/%3E%3Cpath id='Path_21' data-name='Path 21' d='M520.956,208.206h-5.295a3.873,3.873,0,0,1-3.873-3.872v-5.3a3.873,3.873,0,0,1,3.873-3.872h5.295a3.873,3.873,0,0,1,3.873,3.872v5.3a3.873,3.873,0,0,1-3.873,3.872' transform='translate(-39.14 -38.608)' fill='%23848596'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-home.active,
.nav-item-home:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.685' height='29.459' viewBox='0 0 29.685 29.459'%3E%3Cg id='Group_61' data-name='Group 61' transform='translate(-65 -161.271)'%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(-391.004 21.132)'%3E%3Cpath id='Path_18' data-name='Path 18' d='M465.171,153.179h-5.3A3.872,3.872,0,0,1,456,149.306v-5.3a3.872,3.872,0,0,1,3.872-3.872h5.3a3.873,3.873,0,0,1,3.872,3.872v5.3a3.873,3.873,0,0,1-3.872,3.872' transform='translate(0)' fill='%2331C461'/%3E%3Cpath id='Path_19' data-name='Path 19' d='M520.956,153.179h-5.295a3.873,3.873,0,0,1-3.873-3.872v-5.3a3.873,3.873,0,0,1,3.873-3.872h5.295a3.873,3.873,0,0,1,3.873,3.872v5.3a3.873,3.873,0,0,1-3.873,3.872' transform='translate(-39.14)' fill='%2331C461'/%3E%3Cpath id='Path_20' data-name='Path 20' d='M465.171,208.206h-5.3A3.872,3.872,0,0,1,456,204.333v-5.3a3.872,3.872,0,0,1,3.872-3.872h5.3a3.873,3.873,0,0,1,3.872,3.872v5.3a3.873,3.873,0,0,1-3.872,3.872' transform='translate(0 -38.608)' fill='%2331C461'/%3E%3Cpath id='Path_21' data-name='Path 21' d='M520.956,208.206h-5.295a3.873,3.873,0,0,1-3.873-3.872v-5.3a3.873,3.873,0,0,1,3.873-3.872h5.295a3.873,3.873,0,0,1,3.873,3.872v5.3a3.873,3.873,0,0,1-3.873,3.872' transform='translate(-39.14 -38.608)' fill='%2331C461'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

.nav-item-roadmap {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.424' height='33.038' viewBox='0 0 31.424 33.038'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_23' data-name='Rectangle 23' width='15.428' height='10.934' transform='translate(208.866 536.502)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_62' data-name='Group 62' transform='translate(-63.5 -242.5)'%3E%3Cg id='Group_32' data-name='Group 32' transform='translate(-138.15 -283.618)'%3E%3Cpath id='Path_32' data-name='Path 32' d='M230.038,536.4v15.058a6.241,6.241,0,0,1-6.284,6.2H209.435a6.242,6.242,0,0,1-6.285-6.2V534.217a6.241,6.241,0,0,1,6.285-6.2l13.343-.108' fill='none' stroke='%23848596' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_33' data-name='Path 33' d='M231.574,530.64a3.065,3.065,0,1,1-3.065-3.022A3.044,3.044,0,0,1,231.574,530.64Z' fill='none' stroke='%23848596' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_31' data-name='Group 31' opacity='0.5'%3E%3Cg id='Group_30' data-name='Group 30'%3E%3Cg id='Group_29' data-name='Group 29' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_34' data-name='Path 34' d='M209.614,546.7l4.038-6.571,5.25,4.082,4.644-6.969' fill='none' stroke='%23848596' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.nav-item-roadmap.active,
.nav-item-roadmap:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.424' height='33.038' viewBox='0 0 31.424 33.038'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_23' data-name='Rectangle 23' width='15.428' height='10.934' transform='translate(208.866 536.502)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_62' data-name='Group 62' transform='translate(-63.5 -242.5)'%3E%3Cg id='Group_32' data-name='Group 32' transform='translate(-138.15 -283.618)'%3E%3Cpath id='Path_32' data-name='Path 32' d='M230.038,536.4v15.058a6.241,6.241,0,0,1-6.284,6.2H209.435a6.242,6.242,0,0,1-6.285-6.2V534.217a6.241,6.241,0,0,1,6.285-6.2l13.343-.108' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_33' data-name='Path 33' d='M231.574,530.64a3.065,3.065,0,1,1-3.065-3.022A3.044,3.044,0,0,1,231.574,530.64Z' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_31' data-name='Group 31' opacity='0.5'%3E%3Cg id='Group_30' data-name='Group 30'%3E%3Cg id='Group_29' data-name='Group 29' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_34' data-name='Path 34' d='M209.614,546.7l4.038-6.571,5.25,4.082,4.644-6.969' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.nav-item-staking {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.037' height='33.218' viewBox='0 0 30.037 33.218'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_18' data-name='Rectangle 18' width='12.603' height='1.88' transform='translate(231.92 534.977)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_63' data-name='Group 63' transform='translate(-64.642 -321.41)'%3E%3Cg id='Group_14' data-name='Group 14' transform='translate(-162.578 -204.817)'%3E%3Crect id='Rectangle_17' data-name='Rectangle 17' width='27.037' height='30.218' rx='6.319' transform='translate(228.72 527.727)' fill='none' stroke='%23848596' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_13' data-name='Group 13' opacity='0.5'%3E%3Cg id='Group_12' data-name='Group 12'%3E%3Cg id='Group_11' data-name='Group 11' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_22' data-name='Path 22' d='M231.92,536.4v-.971a.455.455,0,0,1,.455-.455h11.694a.455.455,0,0,1,.454.455v.971a.454.454,0,0,1-.454.455H232.375a.455.455,0,0,1-.455-.455' fill='%23fff' stroke='%23848596' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Path_23' data-name='Path 23' d='M256,547.96h-4.908a5.522,5.522,0,1,1,0-11.044H256' fill='none' stroke='%23848596' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M251.439,540.669a1.939,1.939,0,1,1-2.037,1.836,1.938,1.938,0,0,1,2.037-1.836' fill='%23848596' stroke='%23848596' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-staking.active,
.nav-item-staking:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.037' height='33.218' viewBox='0 0 30.037 33.218'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_18' data-name='Rectangle 18' width='12.603' height='1.88' transform='translate(231.92 534.977)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_63' data-name='Group 63' transform='translate(-64.642 -321.41)'%3E%3Cg id='Group_14' data-name='Group 14' transform='translate(-162.578 -204.817)'%3E%3Crect id='Rectangle_17' data-name='Rectangle 17' width='27.037' height='30.218' rx='6.319' transform='translate(228.72 527.727)' fill='none' stroke='%2331C461' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_13' data-name='Group 13' opacity='0.5'%3E%3Cg id='Group_12' data-name='Group 12'%3E%3Cg id='Group_11' data-name='Group 11' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_22' data-name='Path 22' d='M231.92,536.4v-.971a.455.455,0,0,1,.455-.455h11.694a.455.455,0,0,1,.454.455v.971a.454.454,0,0,1-.454.455H232.375a.455.455,0,0,1-.455-.455' fill='%23fff' stroke='%2331C461' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Path_23' data-name='Path 23' d='M256,547.96h-4.908a5.522,5.522,0,1,1,0-11.044H256' fill='none' stroke='%2331C461' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M251.439,540.669a1.939,1.939,0,1,1-2.037,1.836,1.938,1.938,0,0,1,2.037-1.836' fill='%2331C461' stroke='%2331C461' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-lottery {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34.541' height='36.253' viewBox='0 0 34.541 36.253'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_20' data-name='Rectangle 20' width='12.728' height='17.785' transform='translate(311.454 531.592)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_21' data-name='Rectangle 21' width='2.84' height='2.84' transform='translate(310.715 537.702)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_22' data-name='Rectangle 22' width='2.84' height='2.84' transform='translate(319.831 546.818)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_64' data-name='Group 64' transform='translate(-64.642 -398.892)'%3E%3Cg id='Group_28' data-name='Group 28' transform='translate(-234.899 -126.244)'%3E%3Cpath id='Path_29' data-name='Path 29' d='M324.549,530.6h0c2.776-1.464,5.578,1.466,4.212,4.4a3.325,3.325,0,0,0,1.738,4.614c2.843.983,2.753,5.255-.135,6.42a3.625,3.625,0,0,0-1.934,4.732c1.245,2.854-1.684,5.966-4.4,4.677a3.328,3.328,0,0,0-4.474,2.077c-1.082,3.053-5.134,3.183-6.09.2a3.046,3.046,0,0,0-4.392-1.795c-2.775,1.465-5.577-1.465-4.211-4.4h0a3.325,3.325,0,0,0-1.738-4.614c-2.843-.983-2.754-5.255.134-6.421a3.624,3.624,0,0,0,1.934-4.731c-1.245-2.854,1.684-5.966,4.4-4.677A3.328,3.328,0,0,0,314.067,529c1.082-3.054,5.135-3.183,6.09-.2A3.045,3.045,0,0,0,324.549,530.6Z' fill='none' stroke='%23848596' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_21' data-name='Group 21' opacity='0.5'%3E%3Cg id='Group_20' data-name='Group 20'%3E%3Cg id='Group_19' data-name='Group 19' clip-path='url(%23clip-path)'%3E%3Cline id='Line_2' data-name='Line 2' x1='4.853' y2='5.95' transform='translate(314.847 540.026)' fill='none' stroke='%23848596' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_24' data-name='Group 24' opacity='0.5'%3E%3Cg id='Group_23' data-name='Group 23'%3E%3Cg id='Group_22' data-name='Group 22' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_30' data-name='Path 30' d='M313.555,539.122a1.42,1.42,0,1,1-1.42-1.42,1.42,1.42,0,0,1,1.42,1.42' fill='%23fff' stroke='%23848596' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_27' data-name='Group 27' opacity='0.5'%3E%3Cg id='Group_26' data-name='Group 26'%3E%3Cg id='Group_25' data-name='Group 25' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_31' data-name='Path 31' d='M322.672,548.238a1.42,1.42,0,1,1-1.421-1.42,1.421,1.421,0,0,1,1.421,1.42' fill='%23fff' stroke='%23848596' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-lottery.active,
.nav-item-lottery:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34.541' height='36.253' viewBox='0 0 34.541 36.253'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_20' data-name='Rectangle 20' width='12.728' height='17.785' transform='translate(311.454 531.592)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_21' data-name='Rectangle 21' width='2.84' height='2.84' transform='translate(310.715 537.702)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_22' data-name='Rectangle 22' width='2.84' height='2.84' transform='translate(319.831 546.818)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_64' data-name='Group 64' transform='translate(-64.642 -398.892)'%3E%3Cg id='Group_28' data-name='Group 28' transform='translate(-234.899 -126.244)'%3E%3Cpath id='Path_29' data-name='Path 29' d='M324.549,530.6h0c2.776-1.464,5.578,1.466,4.212,4.4a3.325,3.325,0,0,0,1.738,4.614c2.843.983,2.753,5.255-.135,6.42a3.625,3.625,0,0,0-1.934,4.732c1.245,2.854-1.684,5.966-4.4,4.677a3.328,3.328,0,0,0-4.474,2.077c-1.082,3.053-5.134,3.183-6.09.2a3.046,3.046,0,0,0-4.392-1.795c-2.775,1.465-5.577-1.465-4.211-4.4h0a3.325,3.325,0,0,0-1.738-4.614c-2.843-.983-2.754-5.255.134-6.421a3.624,3.624,0,0,0,1.934-4.731c-1.245-2.854,1.684-5.966,4.4-4.677A3.328,3.328,0,0,0,314.067,529c1.082-3.054,5.135-3.183,6.09-.2A3.045,3.045,0,0,0,324.549,530.6Z' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cg id='Group_21' data-name='Group 21' opacity='0.5'%3E%3Cg id='Group_20' data-name='Group 20'%3E%3Cg id='Group_19' data-name='Group 19' clip-path='url(%23clip-path)'%3E%3Cline id='Line_2' data-name='Line 2' x1='4.853' y2='5.95' transform='translate(314.847 540.026)' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_24' data-name='Group 24' opacity='0.5'%3E%3Cg id='Group_23' data-name='Group 23'%3E%3Cg id='Group_22' data-name='Group 22' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_30' data-name='Path 30' d='M313.555,539.122a1.42,1.42,0,1,1-1.42-1.42,1.42,1.42,0,0,1,1.42,1.42' fill='%23fff' stroke='%2331C461' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_27' data-name='Group 27' opacity='0.5'%3E%3Cg id='Group_26' data-name='Group 26'%3E%3Cg id='Group_25' data-name='Group 25' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_31' data-name='Path 31' d='M322.672,548.238a1.42,1.42,0,1,1-1.421-1.42,1.421,1.421,0,0,1,1.421,1.42' fill='%23fff' stroke='%2331C461' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-faq {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.721' height='34.581' viewBox='0 0 29.721 34.581'%3E%3Cg id='Group_68' data-name='Group 68' transform='translate(-67.052 -479.41)'%3E%3Cg id='Group_65' data-name='Group 65'%3E%3Cg id='Group_18' data-name='Group 18' transform='translate(-195.031 -46.516)'%3E%3Cpath id='Path_25' data-name='Path 25' d='M284.058,559.007H269.829a6.433,6.433,0,0,1-6.246-6.605V534.031a6.433,6.433,0,0,1,6.246-6.6h14.229a6.433,6.433,0,0,1,6.246,6.6V552.4A6.433,6.433,0,0,1,284.058,559.007Z' fill='none' stroke='%23848596' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3Cg id='question-mark' transform='translate(-65.415 490.027)'%3E%3Cpath id='Path_174' data-name='Path 174' d='M396.758,788.2h-.645a.824.824,0,0,0-.823.823v.89a.824.824,0,0,0,.823.823h.645a.824.824,0,0,0,.823-.823v-.89A.823.823,0,0,0,396.758,788.2Z' transform='translate(-249.214 -777.387)' fill='%23565868'/%3E%3Cpath id='Path_175' data-name='Path 175' d='M143,3.92l1.189.148a.824.824,0,0,0,.871-.525,2.537,2.537,0,0,1,.716-1.06,2.426,2.426,0,0,1,1.617-.549,2.321,2.321,0,0,1,1.6.525,1.63,1.63,0,0,1,.591,1.263,1.572,1.572,0,0,1-.333.971,11.005,11.005,0,0,1-1.326,1.178,5.588,5.588,0,0,0-1.48,1.62,3.749,3.749,0,0,0-.362,1.582.823.823,0,0,0,.823.857h.672a.825.825,0,0,0,.82-.753,2.078,2.078,0,0,1,.155-.7,3.865,3.865,0,0,1,1-1.071,10.354,10.354,0,0,0,2.027-2.034,2.913,2.913,0,0,0,.475-1.584,3.449,3.449,0,0,0-1.289-2.653A5.049,5.049,0,0,0,147.286,0a4.873,4.873,0,0,0-3.348,1.125,3.88,3.88,0,0,0-1.32,2.27A.444.444,0,0,0,143,3.92Z' transform='translate(0)' fill='%23565868'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-faq.active,
.nav-item-faq:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.721' height='34.581' viewBox='0 0 29.721 34.581'%3E%3Cg id='Group_68' data-name='Group 68' transform='translate(-67.052 -479.41)'%3E%3Cg id='Group_65' data-name='Group 65'%3E%3Cg id='Group_18' data-name='Group 18' transform='translate(-195.031 -46.516)'%3E%3Cpath id='Path_25' data-name='Path 25' d='M284.058,559.007H269.829a6.433,6.433,0,0,1-6.246-6.605V534.031a6.433,6.433,0,0,1,6.246-6.6h14.229a6.433,6.433,0,0,1,6.246,6.6V552.4A6.433,6.433,0,0,1,284.058,559.007Z' fill='none' stroke='%2331C461' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3Cg id='question-mark' transform='translate(-65.415 490.027)'%3E%3Cpath id='Path_174' data-name='Path 174' d='M396.758,788.2h-.645a.824.824,0,0,0-.823.823v.89a.824.824,0,0,0,.823.823h.645a.824.824,0,0,0,.823-.823v-.89A.823.823,0,0,0,396.758,788.2Z' transform='translate(-249.214 -777.387)' fill='%2331C461'/%3E%3Cpath id='Path_175' data-name='Path 175' d='M143,3.92l1.189.148a.824.824,0,0,0,.871-.525,2.537,2.537,0,0,1,.716-1.06,2.426,2.426,0,0,1,1.617-.549,2.321,2.321,0,0,1,1.6.525,1.63,1.63,0,0,1,.591,1.263,1.572,1.572,0,0,1-.333.971,11.005,11.005,0,0,1-1.326,1.178,5.588,5.588,0,0,0-1.48,1.62,3.749,3.749,0,0,0-.362,1.582.823.823,0,0,0,.823.857h.672a.825.825,0,0,0,.82-.753,2.078,2.078,0,0,1,.155-.7,3.865,3.865,0,0,1,1-1.071,10.354,10.354,0,0,0,2.027-2.034,2.913,2.913,0,0,0,.475-1.584,3.449,3.449,0,0,0-1.289-2.653A5.049,5.049,0,0,0,147.286,0a4.873,4.873,0,0,0-3.348,1.125,3.88,3.88,0,0,0-1.32,2.27A.444.444,0,0,0,143,3.92Z' transform='translate(0)' fill='%2331C461'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item-news {
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39.026' height='28.789' viewBox='0 0 39.026 28.789'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_24' data-name='Rectangle 24' width='15.428' height='10.934' transform='translate(329.161 440.874) rotate(-88.68)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_25' data-name='Rectangle 25' width='10.934' height='15.428' transform='translate(340.448 429.267) rotate(-5.145)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_26' data-name='Rectangle 26' width='17.104' height='24.136' transform='translate(341.68 425.207) rotate(-5.145)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-4'%3E%3Crect id='Rectangle_27' data-name='Rectangle 27' width='24.136' height='17.104' transform='translate(321.854 444.59) rotate(-89.191)' fill='none' stroke='%23848596' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_66' data-name='Group 66' transform='translate(-62.272 -545.606)'%3E%3Cg id='Group_44' data-name='Group 44' transform='translate(-259.582 125.149)'%3E%3Cg id='Group_34' data-name='Group 34' opacity='0.5'%3E%3Cg id='Group_33' data-name='Group 33' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_35' data-name='Path 35' d='M338.185,440.174l-5.289-4,3.969-5.5' fill='none' stroke='%23848596' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_37' data-name='Group 37' opacity='0.5'%3E%3Cg id='Group_36' data-name='Group 36'%3E%3Cg id='Group_35' data-name='Group 35' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_36' data-name='Path 36' d='M342.45,430l5.706,3.381-3.324,5.914' fill='none' stroke='%23848596' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_40' data-name='Group 40'%3E%3Cg id='Group_39' data-name='Group 39'%3E%3Cg id='Group_38' data-name='Group 38' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_37' data-name='Path 37' d='M344.812,426.35l8.927,5.289-5.2,9.252' fill='none' stroke='%23848596' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_43' data-name='Group 43'%3E%3Cg id='Group_42' data-name='Group 42'%3E%3Cg id='Group_41' data-name='Group 41' clip-path='url(%23clip-path-4)'%3E%3Cpath id='Path_38' data-name='Path 38' d='M335.96,443.37l-8.33-6.187,6.131-8.663' fill='none' stroke='%23848596' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.nav-item-news.active,
.nav-item-news:hover {
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39.026' height='28.789' viewBox='0 0 39.026 28.789'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_24' data-name='Rectangle 24' width='15.428' height='10.934' transform='translate(329.161 440.874) rotate(-88.68)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_25' data-name='Rectangle 25' width='10.934' height='15.428' transform='translate(340.448 429.267) rotate(-5.145)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_26' data-name='Rectangle 26' width='17.104' height='24.136' transform='translate(341.68 425.207) rotate(-5.145)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-4'%3E%3Crect id='Rectangle_27' data-name='Rectangle 27' width='24.136' height='17.104' transform='translate(321.854 444.59) rotate(-89.191)' fill='none' stroke='%2331C461' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_66' data-name='Group 66' transform='translate(-62.272 -545.606)'%3E%3Cg id='Group_44' data-name='Group 44' transform='translate(-259.582 125.149)'%3E%3Cg id='Group_34' data-name='Group 34' opacity='0.5'%3E%3Cg id='Group_33' data-name='Group 33' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_35' data-name='Path 35' d='M338.185,440.174l-5.289-4,3.969-5.5' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_37' data-name='Group 37' opacity='0.5'%3E%3Cg id='Group_36' data-name='Group 36'%3E%3Cg id='Group_35' data-name='Group 35' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_36' data-name='Path 36' d='M342.45,430l5.706,3.381-3.324,5.914' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_40' data-name='Group 40'%3E%3Cg id='Group_39' data-name='Group 39'%3E%3Cg id='Group_38' data-name='Group 38' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_37' data-name='Path 37' d='M344.812,426.35l8.927,5.289-5.2,9.252' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_43' data-name='Group 43'%3E%3Cg id='Group_42' data-name='Group 42'%3E%3Cg id='Group_41' data-name='Group 41' clip-path='url(%23clip-path-4)'%3E%3Cpath id='Path_38' data-name='Path 38' d='M335.96,443.37l-8.33-6.187,6.131-8.663' fill='none' stroke='%2331C461' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.navigation-footer {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	padding: 5px 35px;
}

.btn-social {
	font-size: 1.8rem;
	font-weight: 500 !important;
}

.btn-social:hover {
	color: #747D93 !important;
}

.content-wrapper {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
	padding: 0 40px 0;
	padding-bottom: 35px !important;
}

.card-dark {
	background-color: #282B3A;
}

.card {
	border: 0;
}

.card-rounded {
	border-radius: 1.3rem;
}

.card-rounded-x2 {
	border-radius: 2.3rem;
}

.gradient-green-blue {
	background: rgb(196, 234, 255);
	background: linear-gradient(0deg, rgba(196, 234, 255, 1) 0%, rgba(111, 177, 54, 1) 100%);
}

.gradient-green-blue {
	background: rgb(196, 234, 255);
	background: linear-gradient(0deg, rgba(196, 234, 255, 1) 0%, rgba(111, 177, 54, 1) 100%);
}

.gradient-green-red {
	background: rgb(255, 196, 203);
	background: linear-gradient(0deg, rgba(255, 196, 203, 1) 0%, rgba(157, 185, 132, 1) 100%);
}

.gradient-green-blue-image {
	background-image: url("../images/bg-bak.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 300px;
}

.gradient-green-blue-image-home {
	background-image: url("../images/logo-rp-u.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 250px;
	/*background-position: 150px bottom;*/
}

.planet-earth-image {
	background-image: url("../images/planet-earth.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 150px;
	background-position-x: 103%;
}

.card-logo {
	min-height: 350px;
}

.main-nav-overlay {
	display: none;
}

.form-control {
	border-radius: 15px;
	border: 0;
	height: calc(1.5em + .75rem + 8px);
}

.form-control:focus,
.btn:focus {
	box-shadow: inherit !important;
}

.btn-dark {
	color: #fff;
}

.text-underline {
	text-decoration: underline !important;
}

.home-container {
	display: flex;
	align-items: flex-end;
	min-height: 90vh;
}

.faq-container {
	display: block;
	margin-top: 5%;
}

.Staking-container {
	display: block;
	margin-top: 5%;
}

.lottery-container {
	display: block;
	margin-top: 5%;
}

.roadmap-container {
	display: block;
	margin-top: 5%;
}

.news-container {
	display: block;
	margin-top: 5%;
}

.font-weight-bold {
	font-weight: 900 !important;
}

.text-dark {
	color: #000 !important;
}

.text-dark-2 {
	color: #282B3A !important;
}

.text-dark-light {
	color: #515151 !important;
}

.modal-custom {
	animation: moveUp 0.4s;
}

.modal-custom .modal-content {
	border-radius: 1.8rem;
}

.modal-custom .modal-header {
	border-bottom: 1px solid #424242;
}

.modal-custom .modal-footer {
	border-top: 1px solid #424242;
}

.modal-dark .modal-content {
	background-color: #282B3A;
	color: #747D93;
}

.form-control-dark {
	background-color: #474d67;
}

.form-control-dark:focus {
	background-color: #474d67;
	color: #fff !important;
}

.modal-custom .input-group-append .btn {
	border-radius: 15px !important;
}

.modal-custom .form-control {
	border-radius: 15px !important;
}

.btn-close {
	background-color: transparent;
	border: 0;
	color: #747D93;
}

.card-bottom-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
}

.single-page-thumbnail {}

.single-page-thumbnail img {
	display: block;
	width: 100%;
	margin: 10px auto 5%;
	border-radius: 1rem;
	height: auto;
}

.post-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
	min-height: 150px;
	margin-right: 15px;
	border-radius: 1rem;
}

.page-nav-container {}

.page-nav-container .page-numbers {
	font-family: 'Mulish', sans-serif !important;
	font-weight: bold;
	margin: 0 3px;
	padding: 0.575rem 0.75rem;
}

.page-nav-container .current {
	background-color: #31C461;
	border-radius: 5px;
	color: #fff;
	padding: 0.375rem 0.75rem;
}